body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* header */
.header {
  background: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

/* hero */
.hero {
  height: 300px;
  background: url("https://picsum.photos/1200/400") no-repeat center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* about */
.about {
  padding: 40px;
  text-align: center;
}

/* footer */
.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}